#!/bin/bash
# config.sh.new
# stores all settings
# also some functions
# edit this file then save it as config.sh

# STARTUP INFO
botDir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
scriptName="ERROR"

# BASIC FUNCTIONS
sendToLog () {
  echo "$( date ) $1" >> "$logFile"
}
sendToIRC () {
  echo "$1" >> "$ircDir/in"
}
sendToDiscord () {
  curl -v \
  -H "Authorization: Bot $discordToken" \
  -H "User-Agent: GrigoriBot (https://github.com/0sudoman/GrigoriBot, v0)" \
  -H "Content-Type: application/json" \
  -d '{"content":"'"$1"'"}' \
  https://discordapp.com/api/channels/${discordChannel}/messages
}
sendToPush () {
  $pushDir/pushbullet push all note $botNick "$1" > /dev/null
}

logSuccess () {
  sendToLog "SCC $scriptName $1"
  sendToPush "$1"
  sendToDiscord "$1"
  sendToIRC "$1"
  echo "$1"
}
logError () {
  sendToLog "ERR $scriptName $1"
  sendToPush "$1"
  sendToIRC "$1"
  echo "$1"
}
logWarn () {
  sendToLog "WRN $scriptName $1"
  echo "$1"
}
logInfo () {
  sendToLog "INF $scriptName $1"
  echo "$1"
}

logVerify () {
  touch $logFile
  if [[ ! -f $logFile ]]; then
    logFile="$botDir/logs/latest.log"
    mkdir "$botDir/logs"
    touch $logFile
    if [[ -f $logFile ]]; then
      logError "Custom log file not found. Resetting to default."
    else
      echo "Could not generate log file."
    fi
  fi
}

botStartup () {
  logInfo "Starting Up..."
  screen -dm -S ii ii -s $ircServer -n $botNick
  screen -dm -S ibot "$botDir/ibot.sh"
  logInfo "Bot Started."
}
botShutdown () {
  logInfo "Shutting Down..."
  screen -S ibot -X kill > /dev/null
  screen -S ii -X kill > /dev/null
  logInfo "Bot is Offline."
}
botReboot () {
  botShutdown
  sleep 5
  botStartup
}

# LOG SETTINGS
logFile="$botDir/logs/latest.log"    #location of log file
logVerify                            #checks log file

# IRC SETTINGS
iiDir="/home/user/irc"               #the directory where ii is located
ircServer="irc.freenode.net"         #the server to connect to
ircChannel="#freenode"               #the channel to be active in
botNick="GrigoriBot"                 #the nick of the bot
ircAdmin="adminperson"               #the nick of the owner
ircJoinDelay="15"                    #the delay between sending /j messages (higher numbers reduce flooding)

ircDir="$iiDir/$ircServer/$ircChannel"

# FILE SETTINGS
sortDir="/data/Seeds"                #where things are downloaded to
tvDir="/data/TV"                     #where to put TV Shows
movieDir="/data/Movies"              #where to put movies
tempDir="/data/Temp"                 #where to store files while extracting

# DISCORD SETTINGS
discordToken=""                      #token used to log into discord
discordChannel=""                    #channel id

# PUSHBULLET SETTINGS
pushDir="/opt/pushbullet-bash"       #where the pushbullet-bash file is stored
